player-connection-mode=Listen
player-connection-guid=2984474208
player-connection-debug=0
player-connection-project-name=Procedural Terrain
player-connection-ip=192.168.0.7
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=b4de2935bbe149e09b60d15a3a28de0b
